h1 {
    color: rgb(157, 115, 255);
    padding-left: 15px;
    padding-top: 10px;
}

h2 {
    color: #e7dddd;
}

h3{
    color: black;
}

h4{
    color: #ffff;
    font-size: 25px;
}

body {
    background-image: url("../imagenes/fondo-hexagonal-oscuro-color-degradado_79603-1409.avif");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

div {
    margin-top: 15px;
    margin-right: 40px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    display:inline-flexbox;

}

.gris {
    background-color: rgb(128, 137, 145);
}

button {
    background-color: rgb(71, 31, 165);
    border: rgb(71, 31, 165);
    color: #ffff;
    font-size: 14px;
    padding: 5px;
    margin-left: 40px;
}

b {
    font-size: 20px;
}

.carrito-container-active {
    background-color: rgb(154, 167, 190);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    padding-right: 25px;
    
}

.eliminar-btn {
    cursor: pointer;
}