h1 {
    color: rgb(252, 250, 255);
    padding-left: 15px;
    padding-top: 10px;
}

h4{
    color: #e7dddd;
    font-size: 25px;
}

h5{ 
    color: #e7dddd;
}

p{
    color: #e7dddd;
}

body {
    background-image: url("../imagenes/fondo-hexagonal-oscuro-color-degradado_79603-1409.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: rgb(71, 31, 165);
    border: rgb(71, 31, 165);
    border-radius: 4%;
    color: #ffff;
    font-size: 14px;
    padding: 5px;
    margin-left: 40px;
}

b {
    color: #e7dddd;
    font-size: 20px;
}

.card {
    background-color: rgb(24, 25, 26);   
}

.card-title {
    color: #e7dddd;
}

.carrito-container{
    background-color: rgb(24, 25, 26);
    color: #e7dddd;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
}

.eliminar-btn {
    cursor: pointer;
}

.li-carrito{
    padding: 1rem;
    list-style: none;
    border-bottom: 1px white solid;
}

.li-carrito:first-child{
    border-top: 1px white solid;
}

.li-carrito:last-child{
    border: none;
}

.carrito{
    position: sticky;
    z-index: 99;
    top: 1px;
}
  
.btn.btn-primary { 
    background-color: rgb(71, 31, 165);
    border: rgb(71, 31, 165);
    border-radius: 4%;
    margin-bottom: 6px;
}

.modal-content {
    background-color: rgb(24, 25, 26);
    color: #e7dddd;

}